
@{
    ViewBag.Title = "Products";
}

<div class="container marginTopContent pt-5">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3 bg-light">
            <div class="row text-center menuBar">
                <a href="#" class="nav-item col-12 bg-light py-2">Computer</a>
                <a href="#" class="nav-item col-12 bg-light py-2">Phones</a>
                <a href="#" class="nav-item col-12 bg-light py-2">Clothes</a>
            </div>
        </div>

        <div class="col-sm-12 col-md-9 col-lg-9 justify-content-center">
            <div class="col-12">
                <span class="display-4" runat="server" id="idTituloCategoria">Título categoria</span>
            </div>
            <div class="col-12">
                <hr />
            </div>
            <div class="card-deck" runat="server" id="idDivProductsSearch">

                <!--Plantilla producto-->


            </div>
        </div>
    </div>
</div>